<ng-container [ngSwitch]="view">
  <ng-container *ngSwitchCase="0">
    <ng-container
      *ngTemplateOutlet="commonArticle; context: { $implicit: null }"
    ></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="1">
    <ng-container
      *ngTemplateOutlet="commonArticle; context: { $implicit: authorPreheader }"
    ></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="2">
    <ng-container
      *ngTemplateOutlet="commonArticle; context: { $implicit: adminPreheader }"
    ></ng-container>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <ng-container
      *ngTemplateOutlet="commonArticle; context: { $implicit: authorPreheader }"
    ></ng-container>
  </ng-container>
</ng-container>

<ng-template #commonArticle let-preheaderContent>
  <article>
    <div>
      <ng-container *ngTemplateOutlet="preheaderContent"></ng-container>
    </div>
    <ng-container *ngIf="isEditMode; then blogInEditMode; else blogInReadMode">
    </ng-container>
  </article>
</ng-template>

<ng-template #blogInEditMode>
  <header>
    <div>
      By:
      <strong
        ><em>
          <p>{{ author }}</p>
        </em></strong
      >
      <textarea class="title" [(ngModel)]="title"></textarea>
      <textarea class="title" [(ngModel)]="category"></textarea>
    </div>
  </header>
  <app-tag-list [tags]="tags" [view]="'edit'"></app-tag-list>
  <div class="blog-edit-wrapper">
    <textarea
      class="blog-edit-input"
      [(ngModel)]="unparsedContent"
      (ngModelChange)="refresh(unparsedContent)"
    ></textarea>
    <div class="blog-edit-output" [innerHTML]="parsedContent"></div>
  </div>
</ng-template>

<ng-template #blogInReadMode>
  <header>
    <div>
      By:
      <strong
        ><em>
          <p>{{ author }}</p>
        </em></strong
      >
      <h1 class="title">{{ title }}</h1>
      <p>{{ created | date }}</p>
    </div>
  </header>
<app-tag-list [tags]="tags" [view]="'read'"></app-tag-list>
  <div [innerHTML]="parsedContent"></div>
</ng-template>

<ng-template #authorPreheader>
  <div class="preheader">
    <button class="button editButton" type="button" (click)="toggleEditMode()">
      {{ editOrSave }}
    </button>
    <button class="button deleteButton" type="button" (click)="delete()">
      Delete
    </button>
  </div>
</ng-template>

<ng-template #adminPreheader>
  <div class="preheader admin">
    <button class="button deleteButton" type="button" (click)="delete()">
      Delete
    </button>
    <button class="button approveButton" (click)="approve()">Approve</button>
  </div>
</ng-template>
