@import '/src/styles.scss';

header {
  position: relative;
}

header div {
  justify-content: space-between;
  display: flex;
  width: 100%;
}


.blog-edit-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.blog-edit-input {
  margin: 10px;
  width: 90%;
}

.blog-edit-output {
  margin: 10px;
  width: 90%;
}

.editor textarea {
  width: 90%;
  resize: vertical;
  height: 50dvh;
  min-height: 20%;
}

.approveCheckbox {
  margin-left: auto;
  grid-column: 2;
  grid-row: 1;
}

.admin .approveCheckbox {
  grid-column: 1;
  grid-row: 1;
}

.editButton {
  margin-left: auto;

}

.deleteButton {
  margin-left: auto;
  grid-column: 3;
}

.admin .deleteButton {
  grid-column: 2;
  grid-row: 1;
}

.saveButton {
  margin-left: auto;
}

.preheader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px;
}

.admin {
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 650px) {
  .blog-edit-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media only screen and (max-width: 400px) {
  .preheader {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .deleteButton {
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 10px;
  }

  .approveCheckbox {
    grid-column: 1;
    grid-row: 3;
  }

  .editButton {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 10px;
  }


}