<div
  class="header-main"
  [style.margin-bottom]="isWelcomePage == false ? '20px' : '0'"
>
  <button class="dropdown-button" (click)="toggleSidePanel()">
    <div class="lines-container">
      <div class="dropdown-button-line"></div>
      <div class="dropdown-button-line"></div>
      <div class="dropdown-button-line"></div>
    </div>
  </button>
  <app-logo class="logo" (click)="goToWelcome()"></app-logo>

  <nav id="main-nav" [style.display]="isWelcomePage ? 'none' : 'flex'">
    <a
      class="inactive"
      *ngFor="let link of navLinks"
      routerLink="{{ link.link }}"
      routerLinkActive="active"
      >{{ link.name }}</a
    >
  </nav>
  <app-auth class="nav-login"></app-auth>
</div>
