<div>
  <div class="nav-menu">
    <a class="inactive-link" routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: false }">Home</a>
    <a class="inactive-link" routerLink="/personal_website" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: false }">Personal Website</a>
    <a class="inactive-link" routerLink="/test_category" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: false }">Test</a>
    <a class="inactive-link" routerLink="/about" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: false }">About</a>
    <a class="inactive-link" routerLink="/contact" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: false }">Contact</a>
  </div>
  <app-auth class="nav-login"></app-auth>
</div>
