<div
  class="header-main"
  [style.margin-bottom]="isWelcomePage == false ? '20px' : '0'"
>
  <button
    class="dropdown-button"
    [style.display]="isWelcomePage ? 'none' : ''"
    (click)="toggleSidePanel()"
  >
    <div class="lines-container">
      <div class="dropdown-button-line"></div>
      <div class="dropdown-button-line"></div>
      <div class="dropdown-button-line"></div>
    </div>
  </button>
  <app-logo class="logo" (click)="goToWelcome()"></app-logo>

  <nav id="main-nav" [style.display]="isWelcomePage ? 'none' : 'flex'">
    <div class="nav-link-wrapper" *ngFor="let link of navLinks">
      <a
        class="inactive"
        routerLink="{{ link.link }}"
        routerLinkActive="active"
        >{{ link.name }}</a
      >
    </div>
  </nav>
  <app-auth class="nav-login"></app-auth>
</div>
