<ng-container *ngIf="view == 'read'; then read; else edit"> </ng-container>
<ng-template #read>
  <div class="tag-wrapper" [style.border-color]="color">
    <div class="tag-ear">
      <div class="tag-ear-inner" [style.border-left-color]="color"></div>
    </div>
    <div class="tag">
      {{ name }}
    </div>

  </div>
</ng-template>

<ng-template #edit>
  <div class="tag-wrapper edit" [style.border-color]="color">
    <div class="tag-ear">
      <div class="tag-ear-inner" [style.border-right-color]="color"> </div>
      <ngx-colors ngx-colors-trigger [(ngModel)]="color" (ngModelChange)="changeColor()"></ngx-colors>

    </div>
    <div class="tag">
      {{ name }}
    </div>
    <button class="tag-ear-button" (click)="delete()">
      <i class="fas fa-times">X</i>
    </button>
  </div>
</ng-template>