.tag {
  padding: 0px 3px;
  margin: 0 5px;
  font-weight: bold;
}

.tag-wrapper:hover {
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.tag.active {
  background-color: #3f51b5;
  color: #fff;
}

.tag-wrapper {
  border-radius: 0 5px 5px 0;
  border: $main 1px solid;
  display: flex;
  width: fit-content;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.tag-ear {
  width: 15px;
  display: flex;
}
.tag-ear-inner {
  align-self: center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid;
}

.tag-ear-button {
  width: 15px;
  height: 30px;
  background-color: #ffffff;
  border: none;
  align-self: center;
  outline: none;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
}

.tag-ear-button:hover {
  color: hsl(0, 100%, 50%);
  font-weight: bold;
}
.tag-ear-button:active {
  scale: 0.9;
}
