<ng-container *ngIf="view=='read'; then read; else edit">
</ng-container>
<ng-template #read>
  <div class="tag-wrapper">
    <div class="tag" [style.background-color]="color">
      {{name}}
    </div>
    <div class="tag-ear">
      <div class="tag-ear-inner"></div>
    </div>
    </div>
</ng-template>

<ng-template #edit>
  <div class="tag-wrapper edit">
    <div class="tag" [style.background-color]="color">
      {{name}}
    </div>
    <div class="tag-ear">
      <div class="tag-ear-inner">
      </div>
    </div>
    <button class="tag-ear-button" (click)="delete()"><i class="fas fa-times">X</i></button>

    </div>
</ng-template>