.container {
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

.class-main {
  position: absolute;
  opacity: 0;
  top: 100%;
}

.final {
  transition: all 1s ease-in;
  opacity: 1;
  top: 0%;
}

.content-container {
  position: relative;
  display: flex;
  flex-direction: column;
}