.modal-background {
    position: fixed; /* Fixed positioning relative to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensures the modal is above the overlay */

  }
  
  .modal {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2000; /* Ensures the modal is above the overlay */
  }
  .submit{
    width: 100%;
    height: 2.5rem;
    border: 0;
    border-radius: 0.2rem;
    background: #333;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.2s;
}

.submit:hover{
  background-color: #444;
  color: white;
  cursor: pointer;
  box-shadow: #444 0px 0px 5px 0px;
}

.submit:active{
  transform: scale(0.95);
}

.submit:focus-visible{
  border: 1px solid blue;
}

.close{
  right: 5px;
  top: 5px;
  border: 0;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.2s;
}

.modal header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.passforgot{
  margin-left: 50px;
}

.separator{
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: #333 1px solid;
}