<div class="contact-section">
  <h1>Contact Me</h1>
  <p>
    If you have any questions or would like to discuss a project, feel free to
    reach out to me.
  </p>

  <form [formGroup]="formGroup" (ngSubmit)="sendMail()">
    <app-input [control]="formGroup.controls.senderName" inputId="name" label="Name:"></app-input>
    <app-input [control]="formGroup.controls.senderEmail" inputId="email" label="Email:"></app-input>
    <app-input [control]="formGroup.controls.subject" inputId="subject" label="Subject:"></app-input>

    <app-input [type]="1" [control]="formGroup.controls.message" inputId="message" label="Message"></app-input>

    <input type="submit" value="Submit" [disabled]="formGroup.invalid"
      [title]="formGroup.invalid ? 'Please complete the form' : ''" /><br />
  </form>

</div>