<ng-container *ngIf="isApprovable; then isAdmin; else isAuthor"> </ng-container>

<ng-template #isAdmin>
  <ng-container *ngIf="isEditMode; then adminViewInEdit; else adminView">
  </ng-container>
</ng-template>

<ng-template #isAuthor>
  <ng-container *ngIf="isEditable; else guestView">
    <ng-container *ngIf="isEditMode; then authorViewInEdit; else authorView">
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #authorView>
  <article>
    <div class="preheader">
      <button
        class="button editButton"
        type="button"
        (click)="toggleEditMode()"
      >
        Edit
      </button>
      <button class="button deleteButton" type="button" (click)="delete()">
        Delete
      </button>
    </div>
    <header>
      <div>
        <h1 class="title">{{ title }}</h1>
        <p>{{ date_value | date }}</p>
      </div>
    </header>
    <div [innerHTML]="parsedContent"></div>
  </article>
</ng-template>
<ng-template #authorViewInEdit>
  <article>
    <div class="preheader">
      <button
        class="button saveButton"
        type="button"
        (click)="toggleEditMode()"
      >
        Save
      </button>
    </div>
    <header>
      <div>
        <textarea class="title" [(ngModel)]="title"></textarea>
        <p>{{ date_value | date }}</p>
      </div>
    </header>
    <div class="blog-edit-wrapper">
      <textarea
        class="blog-edit-input"
        [(ngModel)]="unparsedContent"
        (ngModelChange)="refresh(unparsedContent)"
      ></textarea>
      <div class="blog-edit-output" [innerHTML]="parsedContent"></div>
    </div>
  </article>
</ng-template>

<ng-template #guestView>
  <article>
    <header>
      <div>
        <h1 class="title">{{ title }}</h1>
        <p>{{ date_value | date }}</p>
      </div>
    </header>
    <div [innerHTML]="parsedContent"></div>
  </article>
</ng-template>

<ng-template #adminView>
  <article>
    <div class="preheader">
      <button
        class="button editButton"
        type="button"
        (click)="toggleEditMode()"
      >
        Edit
      </button>
      <button class="button deleteButton" type="button" (click)="delete()">
        Delete
      </button>
      <button class="button approveCheckbox" (click)="approve()">
        Approve
      </button>
    </div>
    <header>
      <div>
        <h1 class="title">{{ title }}</h1>
        <p>{{ date_value | date }}</p>
      </div>
    </header>
    <div [innerHTML]="parsedContent"></div>
  </article>
</ng-template>

<ng-template #adminViewInEdit>
  <article>
    <div class="preheader">
      <button
        class="button saveButton"
        type="button"
        (click)="toggleEditMode()"
      >
        Save
      </button>
      <button type="button" class="button approveCheckbox" (click)="approve()">
        Approve
      </button>
    </div>
    <header>
      <div>
        <textarea class="title" [(ngModel)]="title"></textarea>
        <p>{{ date_value | date }}</p>
      </div>
    </header>
    <div class="blog-edit-wrapper">
      <textarea
        class="blog-edit-input"
        [(ngModel)]="unparsedContent"
        (ngModelChange)="refresh(unparsedContent)"
      ></textarea>
      <div class="blog-edit-output" [innerHTML]="parsedContent"></div>
    </div>
  </article>
</ng-template>
