header{
    position: relative;
}

header div{
    justify-content: center;
    margin: auto;
}

header p{
    position:absolute ;
    font-size: 14px;
   top:0;
   right: 0;
}

.blog-edit-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.blog-edit-input{
    margin: 10px;
    width: 90%;
}
.blog-edit-output{
    margin: 10px;
    width: 90%;
}

article{
   border: 1px solid #ccc;
}
.approveCheckbox{
    margin-left: auto;
    grid-column: 2;
    grid-row: 1;
}
.editButton{
    margin-left: auto;

}
.deleteButton{
    margin-left: auto;
    grid-column: 3;
}
.saveButton{
    margin-left: auto;
}

.preheader{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
}

@media only screen and (max-width: 400px) {
    .preheader{
     grid-template-columns: 1fr;
     grid-template-rows: 1fr 1fr;
    }
    .deleteButton{
        grid-column: 1;
        grid-row: 2;
        margin-bottom: 10px;
    }
    .approveCheckbox{
        grid-column: 1;
        grid-row: 3;
    }
    .editButton{
        grid-column: 1;
        grid-row: 1;
        margin-bottom: 10px;
    }
}