<ng-container *ngIf="isEditable; else readOnly">
  <ng-container *ngIf="isEditMode; then editMode; else editable" />
</ng-container>

<ng-template #editable>
  <article>
    <div class="preheader">
      <button class="editButton" type="button" (click)="toggleEditMode()">
        Edit
      </button>
      <button class="saveButton" type="button" (click)="delete()">
        Delete
      </button>
    </div>
    <header>
      <div>
        <h1 class="title">{{ title }}</h1>
        <p>{{ date_value | date }}</p>
      </div>
    </header>
    <div [innerHTML]="parsedContent"></div>
  </article>
</ng-template>

<ng-template #readOnly>
  <article>
    <header>
      <div>
        <h1 class="title">{{ title }}</h1>
        <p>{{ date_value | date }}</p>
      </div>
    </header>
    <div [innerHTML]="parsedContent"></div>
  </article>
</ng-template>

<ng-template #editMode>
  <article>
    <div class="preheader">
      <button class="saveButton" type="button" (click)="toggleEditMode()">
        Save
      </button>
    </div>
    <header>
      <div>
        <textarea class="title" [(ngModel)]="title"></textarea>

        <p>{{ date_value | date }}</p>
      </div>
    </header>
    <div class="blog-edit-wrapper">
      <textarea
        class="blog-edit-input"
        [(ngModel)]="unparsedContent"
        (ngModelChange)="refresh(unparsedContent)"
      ></textarea>
      <div class="blog-edit-output" [innerHTML]="parsedContent"></div>
    </div>
  </article>
</ng-template>
