header{
    position: relative;
}

header div{
    justify-content: center;
    margin: auto;
}

header p{
    position:absolute ;
    font-size: 14px;
   top:0;
   right: 0;
}

.blog-edit-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.blog-edit-input{
    margin: 10px;
    width: 90%;
}
.blog-edit-output{
    margin: 10px;
    width: 90%;
}

article{
   border: 1px solid #ccc;
}

.editButton{
    margin: 10px;
}
.deleteButton{
    margin: 10px;
}
.saveButton{
    margin-left: auto;
}

.preheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}