$background: #fff;
$main: #154579;
$monochromatic-first: #1d5ea4;
$monochromatic-first-lighter: #458fdf;
$complimentary: #794915;
$triadic-second: #791545;
$triadic-third: #6eaf31;
$text-paragraph: #444;

/* DYNAMIC VARIABLES */
:root {
  --base-font-size: 18px;
  --heading-1-font-size: calc(var(--base-font-size) * 2);
  --heading-2-font-size: calc(var(--base-font-size) * 1.75);
  --heading-3-font-size: calc(var(--base-font-size) * 1.5);
  --heading-4-font-size: calc(var(--base-font-size) * 1.25);
  --heading-5-font-size: calc(var(--base-font-size) * 1.125);
  --heading-6-font-size: calc(var(--base-font-size) * 1);
  --component-var-height: 0.66vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: var(--heading-1-font-size);
}
h2 {
  font-size: var(--heading-2-font-size);
}
h3 {
  font-size: var(--heading-3-font-size);
}
h4 {
  font-size: var(--heading-4-font-size);
}
h5 {
  font-size: var(--heading-5-font-size);
}
h6 {
  font-size: var(--heading-6-font-size);
}

p {
  font-size: var(--base-font-size);
}

@media screen and (max-width: 768px) {
  :root {
    --base-font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --base-font-size: 12px;
  }
}

nav a {
  font-size: var(--heading-2-font-size);
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
}
body {
  background-color: $background;
  font-family: Source Serif Pro, serif;
}

.main-container {
  transition: filter 0.5s ease;
}

.blur-effect {
  transition: filter 0.5s ease;
  filter: blur(5px);
}
header {
  display: flex;
  border-bottom: 1px solid $text-paragraph;
  width: 100%;
  margin-bottom: 10px;
}

header h1 {
  font-weight: 600;
  color: var(--main);
  margin: auto;
  margin-bottom: 10px;
}

.error {
  color: red;
  margin-top: 0.2rem;
  display: block;
}
.button {
  width: 80px;
  border: 1px solid $triadic-third;
  border-radius: 5px;
  margin: auto;
  background-color: transparent;
  color: $triadic-third;
}
.button:hover {
  background-color: $triadic-third;
  color: $background;
  cursor: pointer;
  box-shadow: $text-paragraph 0px 0px 5px 0px;
}

.button:active {
  transform: scale(0.9);
}

.button:focus-visible {
  border: 1px solid blue;
}
