$background: #fff;
$main: #154579;
$monochromatic-first: #1d5ea4;
$monochromatic-first-lighter: #458fdf;
$complimentary: #794915;
$triadic-second: #791545;
$triadic-third: #6eaf31;
$text-paragraph: #2c2b28;

/* DYNAMIC VARIABLES */
:root {
  --base-font-size: 19px;
  --heading-1-font-size: calc(var(--base-font-size) * 2);
  --heading-2-font-size: calc(var(--base-font-size) * 1.75);
  --heading-3-font-size: calc(var(--base-font-size) * 1.5);
  --heading-4-font-size: calc(var(--base-font-size) * 1.25);
  --heading-5-font-size: calc(var(--base-font-size) * 1.125);
  --heading-6-font-size: calc(var(--base-font-size) * 1);
  --component-var-height: 0.66vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--base-font-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  width: fit-content;
}

h1 {
  font-size: var(--heading-1-font-size);
}

h2 {
  font-size: var(--heading-2-font-size);
}

h3 {
  font-size: var(--heading-3-font-size);
}

h4 {
  font-size: var(--heading-4-font-size);
}

h5 {
  font-size: var(--heading-5-font-size);
}

h6 {
  font-size: var(--heading-6-font-size);
}

p {
  font-size: var(--base-font-size);
  width: fit-content;
}

a {
  font-size: var(--heading-4-font-size);
  color: #aaa;
}

a:link {
  font-size: var(--heading-4-font-size);
  color: #aaa;
}

@media screen and (max-width: 768px) {
  :root {
    --base-font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --base-font-size: 12px;
  }
}

nav a {
  font-size: var(--heading-2-font-size);
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
}

body {
  background-color: $background;
  font-family: Source Serif Pro, serif;
}

.main-container {
  transition: filter 0.5s ease;
}

.blur-effect {
  transition: filter 0.5s ease;
  filter: blur(5px);
}

header {
  display: flex;
  border-bottom: 1px solid $text-paragraph;
  width: 100%;
  margin-bottom: 10px;
}

header h1 {
  font-weight: 600;
  color: var(--main);
  margin: auto;
  margin-bottom: 10px;
}

.error {
  color: red;
  margin-top: 0.2rem;
  display: block;
}

.button {
  width: 80px;
  border: 1px solid $triadic-third;
  border-radius: 5px;
  margin: auto;
  background-color: transparent;
  color: $triadic-third;
}

.button:hover {
  background-color: $triadic-third;
  color: $background;
  cursor: pointer;
  box-shadow: $text-paragraph 0px 0px 5px 0px;
}

.button:active {
  transform: scale(0.9);
}

.button:focus-visible {
  border: 1px solid blue;
}

header {
  position: relative;
}

header div {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.blog-edit-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.blog-edit-input {
  margin: 10px;
  width: 90%;
}

.blog-edit-output {
  margin: 10px;
  width: 90%;
}

.approveCheckbox {
  margin-left: auto;
  grid-column: 2;
  grid-row: 1;
}

.admin .approveCheckbox {
  grid-column: 1;
  grid-row: 1;
}

.editButton {
  margin-left: auto;
}

.deleteButton {
  margin-left: auto;
  grid-column: 3;
}

.admin .deleteButton {
  grid-column: 2;
  grid-row: 1;
}

.saveButton {
  margin-left: auto;
}

.preheader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px;
}

.admin {
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 400px) {
  .preheader {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .deleteButton {
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 10px;
  }

  .approveCheckbox {
    grid-column: 1;
    grid-row: 3;
  }

  .editButton {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 10px;
  }
}

/* CODE COMPONENT */
article {
  padding: 10px;
  border-radius: 10px;
  line-height: 32px;
  margin: auto;
  margin-bottom: 40px;
  justify-content: center;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  color: $text-paragraph;
  border: 3px double #aaa;
}


.tags {
  display: flex;
  align-items: end;
}

.preview {
  padding: 10px;
  border-radius: 10px;
  line-height: 32px;
  border-color: $text-paragraph;
  margin: auto;
  margin-bottom: 40px;
  justify-content: center;
  background-color: $background;
  max-width: 100%;
  max-height: 100px;
  border: 1px solid $text-paragraph;
}

.preview-hero-image {
  width: 100%;
  height: 50px;
  object-fit: cover;


}

.date {
  color: $text-paragraph;
  margin: 10px 0;
}

.blog-content {
  width: 100%;
  padding: 20px;
}

.blog-content h3 {
  margin-bottom: 15px;
}

.blog-content p {
  margin-bottom: 7px;
  color: $text-paragraph;
}

.code-text {
  color: $background;
}

.class {
  color: #4ec9b0;
}

.ps-first {
  color: #e7ee41;
}

.code {
  overflow-x: auto;

  position: relative;
  display: flex;
  justify-content: space-between;
  color: $background;
  padding: 25px;
  background-color: #1e1e1e;
  border-radius: 6px;
  border: #888 1px solid;
  margin-bottom: 20px;
  box-shadow: $text-paragraph 5px 5px 5px;
  position: relative;
  font-family: Cascadia Mono, monospace;
}

.copy-button {
  position: absolute;
  top: 10px;
  right: 5px;
  margin-right: 0;
  border-radius: 0;
  background-color: $text-paragraph;
  color: $background;
  padding: 3px;
  cursor: pointer;
  text-align: center;
}

.copy-button:hover {
  color: $background;
}

.copy-button:active {
  color: $background;
  transform: scale(0.95);
  transform-origin: center;
}



.markdown img {
  margin-left: auto;
  display: flex;
  max-width: 100%;
}

.markdown p:has(img) {
  margin: auto;
}


.markdown pre:has(code) {
  margin: auto;
  border-radius: 10px;
}



.markdown video {
  display: block;
  margin: 0 auto;
  align-self: center;
  border-radius: 10px;

  height: 80%;
  width: 80%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .image {
    height: 150px;
  }

  article {
    width: 90%;
  }

  .preview {
    width: 90%;
  }

  .markdown pre:has(code) {
    width: 90%;
  }

  .markdown video {
    width: 90%;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .image {
    height: 200px;
  }

  .preview {
    width: 80%;
  }

  article {
    width: 80%;
  }

  .markdown video {
    width: 80%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .image {
    height: 250px;
  }

  article {
    width: 70%;
  }

  .preview {
    width: 70%;
  }

  .markdown video {
    width: 70%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .image {
    height: 300px;
  }

  article {
    width: 60%;
  }

  .preview {
    width: 60%;
  }

  .markdown video {
    width: 80%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .image {
    height: 350px;
  }

  article {
    width: 50%;
  }

  .preview {
    width: 50%;
  }

  .markdown video {
    width: 80%;
  }
}

pre {
  max-width: 100%;
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* CSS 3 */
  white-space: pre-wrap;
  /* Opera 7 */
}



/*#region Lists*/

/* LISTS COMPONENT */
ul {
  padding: 0;
  margin-left: 15px;
}

li {
  margin-bottom: 10px;
  color: $text-paragraph;
}

/*#endregion*/


.heroImage {
  object-fit: cover;
  width: 100%;
  height: 120px;
}