@import '/src/styles.scss';
:host {
  --main-transition-duration: 0.75s;
}

/* Initial states */
#main-nav.hidden .inactive-link {
  transition: opacity var(--main-transition-duration) ease;
  opacity: 0;
}

#welcome-section .nav-keyword {
  transition: opacity var(--main-transition-duration) ease;
  opacity: 1;
}

.text-hidden {
  transition: opacity var(--main-transition-duration) ease;
  opacity: 0;
}

/* Transition states */
#main-nav .inactive-link.moved {
  transition: opacity var(--main-transition-duration) ease;
  opacity: 1;
}
/* Transition states */
#welcome-section .nav-keyword.moved {
  transition: opacity var(--main-transition-duration) ease;
  opacity: 0;
}

div {
  width: inherit;
  display: flex;
  height: 35px;
}

div .nav-menu {
  margin-left: 15px;
  align-content: flex-start;
  width: 100%;
}

div .nav-login {
  align-content: flex-end;
  width: 140px;
}

.inactive-link {
  margin-right: 10px;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.active-link {
  margin-right: 10px;
  color: var(--coral);
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: var(--coral);
}

.wrapper {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 90vh;
}

.wrapper .welcome-part {
  background-color: $main;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.carves {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row: 2;
}
.upper-left {
  background-color: $main;
  height: 100%;
  display: flex;
  grid-row: 1;
  grid-column: 1;
}
.left-part h1 {
  font-size: calc(var(--heading-1-font-size) * 2);
  color: $main;
  background: transparent;
  text-align: center;
  margin: auto;
}

.upper-right {
  grid-row: 1;
  grid-column: 2;
  background-color: $main;
  height: 100%;
}

.left-carve {
  background-color: $background;
  align-self: flex-start;
  margin-top: auto;
  height: 100%;
}

.right-carve {
  grid-row: 2;
  grid-column: 2;
  background-color: $main;
  height: 100%;
}

.wrapper .lower-part {
  background-color: $background;
  height: 100%;
  width: 100%;
  display: flex;
}

.right-part {
  grid-row-start: 1;
  grid-row-end: span 2;
  grid-column: 2;
  height: 100%;
  width: 100%;
}
.left-part {
  grid-row-start: 1;
  grid-row-end: span 2;
  grid-column: 1;
  height: 100%;
  width: 100%;
}
.right-part p {
  font-size: var(--heading-4-font-size);
  color: $background;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.description {
  width: fit-content;
  height: fit-content;
  display: block;
  margin: auto;
}

.get-started-btn {
  font-size: var(--heading-4-font-size);
  width: 200px;
  height: 50px;
  background-color: $background;
  border: 2px solid $triadic-third;
  color: $triadic-third;
  font-weight: bold;
  margin: auto;
  display: block;
  text-align: center;
  transition: all calc(var(--main-transition-duration) / 2) ease;
  cursor: pointer;
}

.get-started-btn:hover {
  background-color: $triadic-third;
  color: $background;
}

.get-started-btn:active {
  background-color: $triadic-third;
  color: $background;
  transform: scale(0.95);
}

#welcome-message .text-hidden {
  transition: opacity var(--main-transition-duration) ease;
  opacity: 0;
}

.hidden {
  transition: opacity var(--main-transition-duration) linear;
  opacity: 0;
}

.flatten {
  transition: height var(--main-transition-duration) linear;
  height: 0%;
}

@media screen and (max-width: 768px) {
  #welcome-section {
    margin-bottom: 40px;
  }
}
