<body class="wrapper main">
  <div class="welcome-part"></div>

  <!-- Welcome Message with navigation nav-keywords -->

  <div class="upper-part carves">
    <div class="upper-left">
      <div id="leftcarve" class="left-carve"></div>
    </div>
    <div class="left-part">
      <h1 id="welcome-message">
        Welcome to my Website!
      </h1>
    </div>
    <div id="rightcarve" class="right-carve"></div>
    <div class="upper-right"></div>
    <div class="right-part">
      <div class="description" id="welcome-section">
        <p>
          Explore the <a href="/about">About</a> section to learn
          about my journey
        </p>
        <p>
          Visit my <a href="/blog">Blog</a> for insights.
        </p>
        <p>
          For inquiries or collaborations, reach out via <a href="/contact">Contact</a> page
        </p>
        <p>Excited to connect with you!</p>
      </div>
    </div>
  </div>

  <div class="lower-part">
    <button class="get-started-btn" (click)="startTransition()">
      Get Started
    </button>
  </div>
</body>